[2019-11-12 07:49] shyndman opened #1 "Support intrinsic dimension getters"
Right now the grid can't report its intrinsic dimensions, which limits its use somewhat.

[2019-11-12 07:50] shyndman opened #2 "Support named template areas"
GridPlacement is great and all, but being able to define an area of the grid and refer to it by name is much more flexible.

[2020-01-22 15:13] TobiasSuhrborg opened #3 "Support widget tests"
I wanted to have a widget test for your example, but it does not work.
I copied LayoutGridExample from the [example](https://github.com/madewithfelt/flutter_layout_grid/blob/master/example/basic.dart).
Note: LayoutGridExample is wrapped in a MaterialApp Widget because it needed a TextDirection to work in the widget test.

` testWidgets("test LayoutGridExample", (WidgetTester tester) async {

[2020-01-22 15:41] shyndman commented on #3
Yes, it appears you're right.

Thanks for the report. I'll get that fixed up.

[2020-01-22 21:32] shyndman commented on #3
I have a reproduction. Let's see if I can get this fixed. Have to get my brain back in grid mode.

[2020-01-22 23:11] #3 closed

[2020-01-22 23:13] shyndman commented on #3
I got some basic intrinsic size functions in there. Probably not right exactly, but right enough to unblock you.

Published as v0.6.2

[2020-01-22 23:13] shyndman commented on #1
Added a basic implementation in #4

[2020-01-22 23:46] shyndman commented on #3
I also fixed up the demos. Somewhere along the way they started failing. I added a screenshot test so it doesn't happen again.

[2020-01-24 15:46] TobiasSuhrborg commented on #3
@shyndman Thanks a lot, this fixed my problem =)

[2020-01-24 18:34] shyndman commented on #3
You've very welcome. Tell your friends! ;)

[2020-01-25 19:31] shyndman opened #5 "Add negative track start / ends"
CSS Layout Grid has the handy feature of being able to specify row/column starts/ends as negative values, which are measured from the end of the _templated_ track.

[2020-01-25 19:54] shyndman opened #6 "Migrate placement to use linked lists instead of arrays"
As it stands, big grids with sparsely placed items will use a lot more memory than they should, as the placement grid is represented as a 2D array, one element per cell, whether or not that cell is filled.

Chrome's implementation uses a LinkedList, and skips past empty regions. It could be used as a model for how ours should work.

[2020-01-25 20:24] shyndman opened #7 "Support auto track definitions"
Auto tracks are generated automatically when the placement algorithm places an item outside the range of the templated tracks. This could be useful in some cases.

[2020-02-03 11:03] TobiasSuhrborg commented on #3
Will do :)

[2020-02-21 22:36] perfoWorks opened #8 "The library doesn't work in Flutter 1.14.0+"
I have copied and paste example code provided in readme section and it doesn't work. Actually I had to completely remove this package to get my app back in working condition.

Compiler message:
../../tools/flutter/.pub-cache/hosted/pub.dartlang.org/flutter_layout_grid-0.9.1/lib/src/widgets/placement.dart:25:7: Error: The non-abstract class 'GridPlacement' is missing implementations for these membe

[2020-02-22 00:48] shyndman commented on #8
Hi @perfoWorks,

Flutter introduced a breaking change in v1.14.0. I have a fix in version `0.10.0-dev.0` of the library, so update your pubspec and you'll be good to go.

I'll be promoting version `0.10.0`  to stable once Flutter v1.14.0 is the in the stable channel.

[2020-02-22 02:18] shyndman opened #9 "Grids with all intrinsic tracks on an infinite max dimension expand infinitely with GridFit.expand"
This causes the grid to fail, because it sizes infinitely

[2020-02-22 02:27] shyndman commented on #9
The solution here is to detect the infinite case and adopt loose fitting for that dimension.

[2020-02-22 03:23] #8 closed

[2020-02-22 17:42] perfoWorks commented on #8
Thanks... Works like a charm now

[2020-02-29 16:31] tuanha2000vn opened #10 "How to build this package?"
I've tried clone but can't build due to main.dart is missing.

If I copy the sample code over the existing project main.dart, it can't build with bug like this
[code]

Thank for the package, it look interesting

[2020-02-29 16:32] shyndman commented on #10
https://github.com/madewithfelt/flutter_layout_grid/issues/8

[2020-02-29 16:39] #10 closed

[2020-04-21 04:09] adamkoch opened #12 "RangeError thrown during performLayout() when using OrientationBuilder"
Note, this is using LayoutGrid 0.10.0-dev.2.

I'm using LayoutGrid + OrientationBuilder to adjust rows/cols based on orientation. When Flutter rebuilds the widget upon an orientation change, I see the following crash:
[code]

Everything works fine in the new orientation after re-starting the app but if orientation is changed again the same error is thrown.

Here is a minimal example reproducing th

[2020-04-25 04:36] shyndman commented on #12
Hey @adamkoch,

Sorry, I'm a little behind. Just saw this. I'll take a look tomorrow first thing.

[2020-04-25 12:23] shyndman commented on #12
ok, I have successfully repro'd.

[2020-04-25 12:51] shyndman commented on #12
Done!

Fix published as 0.10.1-dev.0

[2020-04-25 12:57] #12 closed

[2020-04-26 03:03] adamkoch commented on #12
Awesome, thank you! Working well now 👍

[2020-09-10 18:22] geovannimp opened #15 "Animate when position changes"
Hi, I'm new to flutter and would like to have an animation when withGridPlacement changes position.

Is this possible with this library?

[2020-12-01 08:59] erickok opened #16 "Intrinsic height not updated on resizing children"
When using `IntrinsicContentTrackSize`s the intrinsic height of a row is calculated based on its children, but seemingly only once. When a child resizes, the intrinsic height is not updated I believe. This is especially onbious when using image widgets inside such rows:

[code]

![Screenshot 2020-12-01 at 09 58 21](https://user-images.githubusercontent.com/196453/100718526-c01da000-33bb-11eb-8902-

[2020-12-01 09:28] shyndman commented on #16
Hi Eric,

Thanks for the report, and not good. I want to get this fixed. I won't have a chance to take a look at this until maybe tomorrow night, but definitely the next day.

As far as where to look, it will have to do with the render objects. The parent-child dance all takes place in here: https://github.com/madewithfelt/flutter_layout_grid/blob/master/lib/src/rendering/layout_grid.dart.

The on

[2020-12-01 09:39] shyndman commented on #16
Yeah, took a quick peek, and that's exactly what's happening:
https://github.com/madewithfelt/flutter_layout_grid/blob/master/lib/src/rendering/layout_grid.dart#L241

`parentUsesSize: true` is never being provided to [child.layout](https://api.flutter.dev/flutter/rendering/RenderObject/layout.html), but should be if the child contributes to an intrinsically sized column. This probably isn't the ti

[2020-12-01 10:01] shyndman commented on #16
@erickok, the new changes to Dart/Flutter are giving me some issues. What version of Flutter are you on?

[2020-12-01 10:20] erickok commented on #16
Just changing that line into
[code]
doesn't do anything yet. But I'l see if I understand what is going on.

I am on Flutter 1.22. To run you code  I did have to set up a minimal mobile Flutter target as I have no macosx target working in my Flutter install.

[2020-12-01 10:20] erickok commented on #16
Oh and loads of thanks to helping out!

[2020-12-01 10:46] shyndman commented on #16
Happy to.

I ran a few initial tests, and I'm not hitting the problem yet. Here's what I'm working with:
https://gist.github.com/shyndman/541de2cdaf5b22b77be6ad54e21d2048

Looks like the grid is changing size when the child does, which doesn't make sense really...so I'm definitely missing something.

What I need is a clear test failure.

[2020-12-01 10:54] shyndman commented on #16
Better than a gist, here's the branch: https://github.com/madewithfelt/flutter_layout_grid/tree/intrinsic-size-problems

I'm off to bed. I'll go deeper tomorrow.

[2020-12-01 12:49] erickok commented on #16
Thanks for trying!

I just tried myself with a widget very similar to yours - a `ResizableContainer` with a height propery. Upon updating the state (by setting the height) indeed the layout is adjusted correctly. It is even weirder if I use an image like this:

[code]

You see it first getting a height equal to the (available) width, and when the fade animation is done the height adjusts to someth

[2020-12-02 18:42] shyndman commented on #16
OK, going to figure this out today.

[2020-12-02 18:42] shyndman commented on #16
foo

[2020-12-12 01:40] shyndman commented on #16
Hey @erickok,

Sorry for dropping off. Been really busy with work. I'm hoping to have a chance to look at this very soon. I'll keep you posted.

[2021-01-11 10:54] Skyost opened #17 "Null safety release"
Hey,

As more and more packages are getting compatible with null safety, would it be possible for you to make a null safety release ? I need it personally because my app uses `flutter_math` which relies on `quiver: ^3.0.0-nullsafety` and it also use your package which relies on `quiver ^2.0.0`.

Thanks !

[2021-01-11 13:17] shyndman commented on #17
Definitely. I'll see what I can do today.

[2021-01-11 16:47] Skyost commented on #17
Great !

[2021-01-12 03:48] shyndman commented on #17
I made a lot of progress, but still not quite there. Unless something surprising comes up, this will be ready and published by EOD tomorrow.

[2021-01-12 10:17] Skyost commented on #17
Cool, is there a branch or a pull request where we can track the progress @shyndman ?

[2021-01-12 16:30] shyndman commented on #17
There you are.

[2021-01-12 18:19] shyndman commented on #17
All errors worked through, and tests are passing.

This is my first Dart null-safety experience. Not bad at all. :)

[2021-01-12 19:11] shyndman commented on #17
OK, published as `0.11.0-nullsafety.0`. Give it a shot.

[2021-01-12 19:14] #17 closed

[2021-01-12 19:41] Skyost commented on #17
I'm gonna try it tomorrow. Thanks a lot :wink:

[2021-01-12 19:46] shyndman commented on #17
You're welcome. Thanks for using the package. :)

[2021-01-12 19:59] shyndman commented on #16
Hi @erickok,

Sorry for the long long wait, but I have the rest of the day to work on all things `flutter_layout_grid`, and I'm looking forward to solving this, so here we go.

[2021-01-12 20:12] shyndman commented on #15
Hey @geovannimp,

Sorry this took me so long. I've finally got time to work on this again.

The answer is no, that isn't currently possible...but from a technical standpoint it could be done.

Do you have an example of an effect similar to the one you're looking for, so I can get a feel for it?

[2021-01-12 20:41] shyndman commented on #17
OK, so I got that code sample you gave me running, confirmed that it's not working properly, and I think I see what's happening.

Thinking through what the correct behavior should be now.

[2021-01-12 20:44] shyndman commented on #16
OK, so I got that code sample you gave me running, confirmed that the weirdness is grid's fault, and I think I see what I'm doing wrong.

Still thinking through what "right" would look like. I need to do some testing with the CSS equivalent.

[2021-01-12 20:51] shyndman commented on #16
https://codepen.io/shyndman/pen/RwGejeQ

^ This is an approximation of what's going wrong.

[2021-01-12 20:51] geovannimp commented on #15
I don't actually remember anymore what I was trying to do, I think was reorganize the grid with drag and drop with itens that could change size.
I ended using a fadein/fadeout animation and placing two grids over each other to simulate the transition animation.

![Peek 13-09-2020 20-49](https://user-images.githubusercontent.com/4943174/104372615-ccd6fd00-54fe-11eb-930c-1b6768496ab5.gif)

[2021-01-12 20:57] shyndman commented on #16
The grid is asking that image child, "how tall would you be if you filled the entire column", and it's saying "hella tall!!". Then the grid accommodates by changing its height.

But then when the grid actually asks the image to render, the image renders at its intrinsic size instead of filling the column, and we're left with a big gap on the bottom.

The same goes for the placeholder image, which

[2021-01-12 20:59] shyndman commented on #16
So I'm clearly missing a piece here. Going to dive into Flutter source and find it.

[2021-01-12 21:31] shyndman opened #20 "Fix bug in removeDuplicates"
`removeDuplicates` will currently an empty iterable on every iteration after the first.

This function should only be stateful across a single iteration, not its entire lifetime.

[2021-01-12 21:39] #20 closed

[2021-01-12 21:50] shyndman commented on #15
Awesome. Looks really good.

I'm going to close this off for now, but I'll keep it in mind in case someone else has the same ask.

[2021-01-12 21:50] #15 closed

[2021-01-13 00:57] shyndman commented on #16
OK, I have something working that feels reasonable.

It deviates from CSS Layout Grid somewhat, because on closer reading the sizing concepts differ between the two systems. I have to figure out if the differences can be reconciled, or otherwise refactor the codebase to be more Flutter-y.

[2021-01-14 01:28] shyndman opened #22 "Implement debugPaintSize on RenderLayoutGrid"
Flutter developers can enable a mode where boundary rectangles, space, and padding are drawn on an overlay. This seems like something that would be useful for grid users.

[2021-01-14 04:50] shyndman commented on #16
Still on it. Going to get there. Built up a bunch of diagnostics today, so I can get this thing as close to CSS as possible.

[2021-01-14 04:57] shyndman commented on #16
Keeping with it tomorrow. I'm excited to get this thing humming. :)

[2021-01-15 12:04] erickok opened #23 "Add WeightedContentTrackSize"
It would be useful to have a `WeightedContentTrackSize` (or whatever we end up calling it), which would size a track based on the weight it's contents have over the total intrinsic size of all columns.

This is how an HTML table would size itself (given no other constraints). This would solve Sub6Resources/flutter_html#491.

[2021-01-15 16:14] shyndman commented on #23
Hi @erickok,

I think that what I'm working on for #16 will help a lot here. It's basically a rework/debugging of the entire layout algorithm. I'll keep you posted.

[2021-01-15 16:15] shyndman commented on #23
(and not like last time...work is super light for me right now, so I'm full speed ahead 😉 )

[2021-01-15 23:12] shyndman commented on #23
I'm not quite done yet, but here's how it's looking with your user's example data:
<img width="1030" alt="Screen Shot 2021-01-15 at 6 09 25 PM" src="https://user-images.githubusercontent.com/42326/104787176-e9707080-575c-11eb-992a-481f86f4d9ad.png">

There's no need for a new track size, because this is how `IntrinsicTrackSize` is supposed to work (like an `auto` track in the CSS Layout Grid spec)

[2021-01-15 23:22] erickok commented on #23
That's fantastic! Looking forward to it.

[2021-01-15 23:30] shyndman opened #24 "Add support for overflow indicators"
Flutter devs expect that when a child widget overflows its container, a region will be drawn indicating that the overflow has occurred, and by how much. We need this!

<img width="165" alt="Screen Shot 2021-01-15 at 6 30 59 PM" src="https://user-images.githubusercontent.com/42326/104788253-d90dc500-575f-11eb-9641-d0a9a3e64f19.png">

[2021-01-15 23:36] shyndman commented on #23
Hey, so qq about what your user is encountering.

Are your `<table>`s creating fixed sized rows, or intrinsic?

[2021-01-15 23:45] shyndman commented on #23
Gotcha. Are you considering moving to a default of intrinsic?

[2021-01-15 23:47] erickok commented on #23
Yes, absolutely, for the columns that do not define a fixed width in pixels or percentage.

[2021-01-15 23:51] shyndman commented on #23
Percentage is an interesting one too, because `FlexibleTrackSize` isn't really the same thing. Flexible tracks only ever grow after everything else has been laid out.

Not sure how accurate you're trying to be with compatibility.

[2021-01-15 23:58] erickok commented on #23
Not 100% sure on how html tables respond to this. In the end a 100% accuracy isn't our direct goal, but that would be nice of course. There are a lot of edge cases that you potentially have to cover to get close to a browser's behaviour, given colgroups, css,, html width, inconsistent given sizes, etc. Let's take it one step at a time. 🙂

[2021-01-16 00:06] shyndman commented on #23
👍

[2021-01-16 01:05] shyndman commented on #1
Closing this off, because the basic implementation is fine but inefficient.

[2021-01-16 01:05] #1 closed

[2021-01-16 01:10] shyndman opened #25 "Add the ability to specify track min and max sizes explicitly"
The improvements to the layout algorithm mean that allowing a user to explicitly set the min and max size for a track should be possible (similarly to how CSS' minmax() works).

In case I forget, here's an important paragraph for the track sizing algorithm.

[2021-01-16 04:35] shyndman commented on #23
OK, got it. New sizing algorithm is working awesome.

I'm going to clean it up and write some tests tomorrow, then we're off to the races!

[2021-01-16 08:44] shyndman commented on #16
The latest:
https://user-images.githubusercontent.com/42326/104807437-1b112800-57ad-11eb-8006-661d618954d2.mov

Getting there. :)

[2021-01-19 19:20] shyndman commented on #16
OK, here we go. Last day.

[2021-01-20 00:27] shyndman opened #26 "GridFit.loose does not correctly respect parent constraints"
`GridFit.loose` allows the grid's children to minimize the space they occupy in the grid, but currently the grid is sized accordingly, which can cause underflows.

**To fix:**
Modify sizing of the grid so that it will always satisfy the lower bound of its constraints. Continue to allow the grid to overflow the constraints.

[2021-01-21 18:58] #16 closed

[2021-01-21 18:58] #22 closed

[2021-01-21 18:58] #23 closed

[2021-01-22 01:13] shyndman opened #29 "Indicate which children are responsible for an overflow in the FlutterError"
Currently we report overflows considering all children as a group, but we have the ability to report which children are responsible.

[2021-01-22 01:14] #26 closed

[2021-01-22 01:14] #9 closed

[2021-01-22 01:14] #24 closed

[2021-01-22 04:54] shyndman opened #31 "Exclude barely overflowing dimensions from overflow indicator"
Currently, if a single dimension is overflowing by a lot, it tends to show the other dimension too because tiny overflows are common.

We should be clamping out the barely overflowing dimension, because it's just noise.

[2021-01-22 05:59] shyndman opened #32 "Grid is laying out too often"
I've noticed that when the grid is in a vertically-scrollable `SingleChildScrollView`, it will be laid out even if the scroll view changes height. This shouldn't be happening, because the grid is being provided identical constraints between size changes.

This is reproducible in the periodic table example.

First place to look: what's the `SingleChildScrollView` doing?

[2021-01-22 06:03] shyndman opened #33 "Periodic table is slow to render"
Lots of jank on desktop. Figure out why.

[2021-01-22 06:19] #31 closed

[2021-01-25 23:23] shyndman commented on #16
So @erickok, I think this works properly now. Feel free to reopen if there are issues.

[2021-01-26 03:36] christinachimi opened #36 "0.10.4 has a List.sum error"
We're using a library that depends on flutter_layout_grid, and our builds started to fail this evening with this error:

[code]

I think we can pin an override but wanted to report.

[2021-01-26 04:29] shyndman commented on #36
Hey!

Pin your build at 0.10.3, and follow this issue. I'll have it fixed up for you tomorrow.

Sorry about that.

[2021-01-26 04:33] shyndman commented on #36
Does your project have extension methods enabled?

Would you mind copying your `flutter --version` to this issue? And your `analysis_options.yaml`?

[2021-01-26 04:34] shyndman commented on #36
You know what, I think I know what's wrong. Give me a few minutes and I'll put up a new patch.

[2021-01-26 04:39] shyndman commented on #36
OK, version `0.10.5` is up. I think your build should work now.

And sorry about this. This package uses semantic versioning, but this new Dart null-safety stuff put me in a position where I had to choose between `pub` complaining and semver, and I didn't think I'd break anybody.

[2021-01-26 14:35] christinachimi commented on #36
Looks good, thank you for the quick fix!

[2021-01-26 15:51] shyndman commented on #36
Fixed by #67ac10c

[2021-01-26 15:52] #36 closed

[2021-01-29 08:46] shyndman opened #38 "Gaps create overflows when intrinsic tracks exist"
Gaps are not being included in some aspect of the size calculation, and are causing the grid to overflow as a result.

[2021-01-29 09:01] shyndman opened #39 "What's up with the flex factors?"
Seems like something's weird and backwards about divisioning of flex space.

track sizing:
[code]

output:
<img width="1440" alt="Screen Shot 2021-01-29 at 4 00 24 AM" src="https://user-images.githubusercontent.com/42326/106254407-aabfc900-61e6-11eb-9e9f-7c136a1b9825.png">

[2021-01-29 09:17] shyndman commented on #39
As it turns out, the `Aside` widget has a height of 128, which restricted it as you see. But it shouldn't act that way, because the minmax of the second row is 4fr, and the third row, 1fr. Doesn't matter about the intrinsic height of anything.

[2021-01-29 09:39] shyndman commented on #39
Maybe the background of the WidgetsApp?

[2021-02-01 00:47] shyndman commented on #39
Yes, this is just the background of the WidgetsApp, or the macOS window. In any case, all good.

[2021-02-01 00:50] shyndman commented on #39
<img width="946" alt="Screen Shot 2021-01-31 at 7 50 33 PM" src="https://user-images.githubusercontent.com/42326/106403620-9a356b80-63fd-11eb-8468-5799242bf3a8.png">

[2021-02-01 00:50] #39 closed

[2021-02-01 02:28] shyndman commented on #38
Looks like this is only happening when intrinsic tracks are in the mix.

[2021-02-01 03:57] shyndman opened #41 "Grid areas don't appear to always update during hot reload"
Not entirely sure, but without a deep investigation it seems that way

[2021-02-03 07:53] erickok commented on #7
Which type of track would you pick, though? The relatively heavy IntrinsicContentTrack? Or a FlexibleTrackSizeTrack(1)? Not sure if we can come up with an intuitive default.
Alternatively, in case of 'missing' tracks, we could not crash/error but instead show overflow bars (on debug builds) and otherwise ignore this content?

[2021-02-03 08:02] erickok opened #42 "Needs migration to use computeDryLayout"
As of the next upcoming Flutter stable release, RenderBox implementations are required to implement a new `computeDryLayout` function. This should calculate and return its (intrinsic) size. As the library currently doesn't implement `performResize`, the appropriate sizing code should be extracted from `performLayout`. I took a quick look but am not quite confident in the rendering code to make the

[2021-02-03 14:38] shyndman commented on #7
No defaults! We let the user decide.

https://developer.mozilla.org/en-US/docs/Web/CSS/grid-auto-rows

Agreed that a crash is a little harsh. Let me think about it.

[2021-02-03 14:54] shyndman commented on #42
I read over the docs, and I think this might be super simple (`computeDrySize` calls `RenderLayoutGrid.computeGridSize`, I think?)

Weird that I didn't get an email about this though. I used to. Let me look into that too.

Thanks for the heads up.

[2021-02-03 20:43] shyndman commented on #42
This appears to work, but I have an outstanding question for the Flutter team on whether I'm allowed to be doing something.

[2021-02-03 21:12] shyndman opened #44 "Cut new releases to satisfy non-null-safe and null-safe versions of the library"
The recommended null-safety migration strategy for pre-1.0 libraries is to bump the minor version, and build from there. Which I did, but I now have breaking API changes for the non-null-safe library which I'd like to release, and I can no longer do that safely (because non-null-safe is 0.10.x which I can't bump to 0.11.x because the null-safe release is already there).

To solve this, I am going

[2021-02-03 21:16] erickok commented on #44
This is reasonable and understandable and I don't think you'll step on anyone's toes. I'd go for it. You are extremely well in (self-)documenting the project so I don't think you will confuse any existing lib consumer.

[2021-02-03 23:04] shyndman commented on #41
Turns out the `GridParentData`'s row/col information wasn't being updated every time it needed to be.

Now it _always_ is before laying out. Tiny bit slower, way safer.

[2021-02-04 05:28] shyndman opened #45 "Document debug aids"
We currently support

* Property listings in DevTools for many core object
* Debug painting
* Flags for debugPrinting layout passes
* Overflow indication

We should tell people about it

[2021-02-04 05:35] #2 closed

[2021-02-04 05:35] #38 closed

[2021-02-04 05:35] #41 closed

[2021-02-10 01:09] shyndman opened #50 "Improve accessibility through automatic semantic ordering"
The README [has a description](https://github.com/madewithfelt/flutter_layout_grid/#accessibility-and-placement) of how to get a screenreader to announce grid items in a sensible order, independently of how they appear visually. This is roughly equivalent to how CSS Grid Layout works (ie, it doesn't do much, but you can direct behavior yourself).

It occurred to me that we can do a much better job

[2021-02-10 03:17] shyndman commented on #44
This is done.

Note that for the `1.0.0-nullsafety.1` release, I renamed two `LayoutGrid` parameters

* `templateRowSizes` is now `rowSizes`
* `templateColumnSizes` is now `columnSizes`

[2021-02-10 03:17] #44 closed

[2021-02-10 03:35] shyndman commented on #42
Available in 1.0.0-nullsafety.0

[2021-02-10 03:35] #42 closed

[2021-02-10 03:39] shyndman commented on #32
I added a bunch of code to recognize when grid properties are the same between rebuilds, which eliminates a ton of layouts. I suspect there's more low hanging fruit, so I'm leaving this open.

[2021-02-10 09:46] shyndman opened #53 "Gaps are still causing overflows"
Reference the Scantron student metadata.

* All auto tracks
* Constrained space

[2021-02-12 18:20] shyndman commented on #53
This...isn't actually a problem. It was actually overflowing.

[2021-02-12 18:20] #53 closed

[2021-02-13 01:27] shyndman commented on #33
Or, more specifically, figure out if the grid is responsible.

[2021-02-13 01:48] shyndman commented on #33
It is not. It appears to be all text layout. I'm going to rewrite the demo to use fractional boxes to see how well that works.

[2021-02-13 02:28] #33 closed

[2021-02-13 02:44] shyndman commented on #33
It's still not as fast as it could be, but I'm getting periodic table layouts in between 0.6ms–1.5ms (on a MacBook Air) now that text measurement is out of the equation. So...good.

There's definitely low hanging fruit for faster computing of bigger grids, but until it comes up, this is fine.

[2021-02-13 02:55] shyndman commented on #32
As far as I can tell, the number of layouts is now minimized.

[2021-02-13 02:55] #32 closed

[2021-02-23 22:45] sabetAI opened #56 "Share auto rowSizes/columnSizes between two LayoutGrids?"
I have two `LayoutGrid` objects with `auto` `rowSizes`. Is there a way to share these `rowSizes` while keeping them `auto`?

[2021-02-23 23:07] shyndman commented on #56
Hi @sabetAI,

There might be...can you explain what you're trying to do a bit more?

[2021-02-23 23:50] sabetAI commented on #56
I'm embedding `LayoutGrid`s inside of a `LayoutGrid`. The nested grids are a legend, header, margin, and body (labelled in the first image). I have the header and margin grids pinned in place, while the body grid is fully scrollable, with the scrollControllers of the margin and header synced with the body's vertical and horizontal scrollers respectively. This lets me scroll anywhere in the table w

[2021-02-24 00:16] sabetAI commented on #56
This is what it looks like in practice:

<img src="https://user-images.githubusercontent.com/28828395/108925525-ca41ea00-760a-11eb-9572-989cd3bdab20.gif" width="25%" height="25%">

Notice the margin `rowSizes` are slightly misaligned with the body's, and the vertical scroller goes a little out of sync at the end due to the different `auto` `rowSizes`.

[2021-02-24 00:30] shyndman commented on #56
I understand. Looks great (I love seeing how this stuff is used).

I can think of two options that would work...neither very satisfying, but it would get you going. Let me know what you think, and whether you need any help getting it going.

#### Data duplication between grids

Duplicate the body's data in the margin, and/or the margin's data in the body, in hidden cells. The grid library allows g

[2021-02-24 00:31] shyndman commented on #56
How do you decide how many rows are spanned by the margin labels?

[2021-02-24 00:44] shyndman commented on #56
Really interesting use case, btw. It's got me thinking.

[2021-02-24 00:45] sabetAI commented on #56
Thanks for the suggestions @shyndman! I found `flutter_layout_grid` to be the most elegant way to implement my table, it's worked out pretty great so far!

The rowspans for the margin labels are known a-priori, since I'm stripping the content from an html table. I'll try your second suggestion first, and get sizing info from `RenderLayoutGrid`. I'll let you know how it goes.

[2021-02-24 00:46] shyndman commented on #56
Please do. Happy to help any way I can.

[2021-02-24 00:49] shyndman opened #57 "Expose RenderLayoutGrid.lastGridSizing as a public field"
This came up in #56 as a possible solution to share sizing information between grids.

Currently the field is `@visibleForTesting`, but it may as well be public because it's useful, and from the grid's perspective, is a write-only field.

[2021-02-24 01:00] #57 closed

[2021-02-24 01:07] shyndman commented on #57
Published as `0.11.6`/`1.0.0-nullsafety.6`

[2021-02-24 02:33] sabetAI commented on #56
Hi @shyndman, I tried implementing your suggestion as follows:

[code]

I tried inserting this snippet into my `build` method, and alternatively as a post-build callback with
`WidgetsBinding.instance.addPostFrameCallback((_) => getRender(context));` (from [stackoverflow](https://stackoverflow.com/a/54553143/12666076)).

In both cases, the `lastGridSizing` field is `null`. Any thoughts on why this

[2021-02-24 02:38] shyndman commented on #56
The post-build callback is definitely the way you want to go, because you want to reuse the work the grid has already done.

In your snippet, what does `getRender` do?

[2021-02-24 02:42] sabetAI commented on #56
Doesn't do anything yet, I just use it as a breakpoint to inspect the `lastGridSizing` field:
[code]
`lastGridSizing` is always `null` though unfortunately..

[2021-02-24 02:46] shyndman commented on #56
Gotcha.

OK, so this line : `final tableRender = tableLayout.createRenderObject(context);` is creating a brand new `RenderLayoutGrid`, and it hasn't been laid out yet, so doesn't have grid sizing.

What you're going to want to do instead is retrieve an existing `RenderLayoutGrid`. Give me a few and I'll show you what that looks like.

[2021-02-24 03:00] shyndman commented on #56
https://gist.github.com/shyndman/4b52b4f5bcb2e4ba340adef6e69c8bc3

[2021-02-24 03:16] sabetAI commented on #56
Ahh okay using a `GlobalKey` to access the `RenderLayoutGrid` through `findRenderObject()` makes a lot of sense. I assume I have to create new `LayoutGrid` objects and re-build the widget again afterwards, right? I'll try it out, thanks!

[2021-02-24 03:16] shyndman commented on #56
(Keep me posted — I'm going to be working for a few more hours)

[2021-02-24 03:23] shyndman commented on #56
Yeah, exactly. I imagine that you'd call `setState()` from inside your post-frame callback, once you've calculated all the sizes and stored them in a field.

The `setState` will trigger a widget rebuild, you'd supply the fixed sizes instead of `auto`s to the grids...and that's it.

I acknowledge that this should be easier. I don't think your use case is too unusual.

[2021-02-24 04:31] sabetAI commented on #56
Works perfectly now!

![workingTable](https://user-images.githubusercontent.com/28828395/108947359-4f8ac600-762e-11eb-87cf-0a0732ec993c.gif)

Ideally, sharing the `rowSizes` through the constructor (or by some other means) would avoid having to build the LayoutGrid twice, but this workaround definitely gets the job done!

[2021-02-24 04:34] shyndman commented on #56
Amazing!

I think I see what you're getting at, but can you expand on this?

[2021-02-24 04:37] shyndman commented on #56
Something like this?

[code]

[2021-02-24 04:52] sabetAI commented on #56
Exactly, though I suppose that would require a lot of 'magic' to happen under the hood. Packages like [linked_scroll_controller](https://pub.dev/packages/linked_scroll_controller) create a "group" object and add controllers to it, maybe creating LayoutGrid parameter groups to sync them together is an option? Hard for me to say what the simplest solution is.

[2021-02-24 04:55] shyndman commented on #56
I have to think about it, but they're interesting suggestions — different directions than I was thinking, but possibly better.

I'm going to leave this issue open until I can break this out into something concrete.

[2021-02-27 04:47] shyndman opened #59 "Improve GridPlacement out of range exceptions"
They're very difficult to read right now. The important information should be front and center.

[2021-04-04 11:14] polyrain opened #61 "Resizable elements?"
Hi,

I'm pretty new to flutter and was wondering if there was any support/it might be on a roadmap to permit resizable elements? Im trying to create kind of a drag and drop system where the user can shrink the item and then move it around, with the rest of the grid repacking to accommodate. Is this doable?

[2021-04-07 19:26] shyndman commented on #61
Hi @polyrain,

Could you go into some more detail?

Would this drag and drop be moving items between cells?

Can you describe what you mean by resizing elements in terms of how the grid is constructed, the interactions performed by the user, and the desired effect?

[2021-04-07 21:06] shyndman commented on #61
Like...a detailed use case. Because in my mind, this is already possible. Just needs the deets. :)

[2021-04-07 23:56] polyrain commented on #61
Hey! Yep sure, sorry for the vagueness in my initial issue.

Yes. Im trying to make a thing where people can change element size based on how important they are/how long it will take and then they can move it around on a grid to visualise their tasks.

As a user, I am presented with an initially unfilled grid of fixed size (let's say 9 cells, 3x3). I can add a new element to a cell by tapping a ce

[2021-04-08 00:06] shyndman commented on #61
Everything you described should be possible.

Want me to summarize how it could be constructed?

[2021-04-08 00:07] shyndman commented on #61
And qq: by fixed size, I understand you to mean that the number of rows and columns are fixed. Is it also fixed size in terms of its on-screen dimensions? (500px x 500 px, or whatever)

[2021-04-08 00:11] shyndman commented on #61
Another qq: Where does repacking come into it?

[2021-04-08 00:18] polyrain commented on #61
Yeah, sorry; I did mean rows and columns are fixed, I don't think a constraint on the overall screen dimensions is a constraint I would envision, mainly as I can see it being desired to have the on screen dimensions be zoomable or such.

I'd actually really love a quick rundown of how it could be possible; high level, of course, but if you did have time that would be incredible; I didn't expect th

[2021-04-08 00:25] polyrain commented on #61
I'm interpreting this as rebuilding the grid, correct me if I'm wrong, but the actual visual area would be repacked whenever a user has stopped providing input on dragging and dropping for example and (assuming no overlapping elements on the potential new grid region) the element has been 'moved' to the new position. Elements on the grid don't need to dynamically shift as the user is dragging elem

[2021-04-08 00:48] shyndman commented on #61
Gotcha.

So I think the big thing here is having a model that describes the elements that have been created, along with their positions, and colspans/rowspans. Which you probably already have.

You'll want to set it up so model changes trigger grid rebuilds. Maybe this is done through a `setState()` on a `StatefulWidget`'s `State`, or by using an `InheritedWidget`, or something from the [`provider

[2021-04-08 00:53] shyndman commented on #61
Tangentially (and you may not need this), it's worth noting that if a grid item changes its width/height, the grid is aware of it, and will re-layout/re-render to accommodate. This is particularly useful for `auto`-sized rows and columns.

[2021-04-08 01:07] polyrain commented on #61
Thank you so much for this response; this looks like a really solid launching off point (and also confirms a bit of what I've been experimenting with over the last few days). I think I can see where this is all comes together, and allays my anxiety about going down the  wrong path in my design.

I think this would be useful for the reasons you stated; I'd definitely get some use out of it as well!

[2021-04-08 01:11] polyrain commented on #61
I wasn't aware of this, but this sounds very useful, insofar as increasing the size of elements in-place without changing their relative cell position seems like something that would be nice for users to have (i.e. they can opt for a more 'dynamic' (read: auto-sized cols/rows) experience that lets them increase size in place without needing to overflow into other cells).

Is there a community for

[2021-04-08 01:24] shyndman commented on #61
There wasn't, but there is now. https://discord.gg/6aQQ5t3x

I'll put this in the README for others in a bit. And yeah, I'd love to hear about how things go.

[2021-04-08 01:28] shyndman commented on #61
and I'll post back about that example. :)

[2021-04-08 01:38] shyndman commented on #61
Oh, and I'm going to close this off. Cool?

[2021-04-08 01:44] polyrain commented on #61
Yep!

[2021-04-08 01:44] #61 closed

[2021-06-25 00:55] hilaryhacksel opened #63 "Improve feature list to either clarify named areas"
The third bullet about named areas isn't clear unless you're familiar with grid concepts. The fifth point is also unclear if you aren't familiar with Flutter.

[2021-06-25 05:23] erickok commented on #63
Fair point. Do you have concise, clear alternatives?

[2021-06-25 06:57] shyndman commented on #63
I think @hilaryhacksel  makes a good point. On re-reading...maybe things should be put in terms of benefits, instead of specifics?

[2021-06-25 06:59] shyndman commented on #63
Like who even knows what `Directionality` is, even if you do develop for Flutter? The key piece is that it supports right-to-left.

For named areas, it's a little trickier...it could be that the examples shown later do a good job of revealing how widgets are placed in the grid. I just thought it was cool enough that it deserved its own feature bullet, but if it doesn't make sense, maybe not?

[2021-06-25 08:22] #56 closed

[2021-08-20 11:13] heyarny opened #64 "Not suited well for unlimited scrolling?"
I'm just evaluating this library and missing some features:

- Item Builder for efficient & performant "unlimited"/huge lists
- Ability to add/remove views/widgets (with animations?)

Is it a general difficult task on flutter or why is there almost no library supporting unlimited scrolling?

[2021-08-20 12:43] erickok commented on #64
This is a library for very specific (dynamic) grids, not for "unlimited" lists. What are you trying to achvie? Maybe you are looking for Flutter's https://api.flutter.dev/flutter/widgets/GridView-class.html GridView class itself, which offers this?

[2021-08-21 20:45] heyarny commented on #64
@erickok thank you, but I've already had a look at the GridView.
What I need is a dynamic row height, which grows with its content.
And for my purposes I require to have at least support for 6 columns.

StaggeredGridView was a good start, but it has strange limitations and issues as well.
- Supports strangely only 4 columns (https://github.com/letsar/flutter_staggered_grid_view/issues/197).
- Has

[2021-08-21 21:25] shyndman commented on #64
Hi @heyarny,

Maybe a `ListView.builder` would suffice? You'd have to build out your own `Row` widget, and keep the columns aligned yourself, but you would get dynamic height out of it (if you pass `null` to `itemExtent`).

https://api.flutter.dev/flutter/widgets/ListView/ListView.builder.html

[2021-08-21 21:46] heyarny commented on #64
@erickok yes, I've been thinking about this option as well.
Not sure yet whether this might lead me to more complex issues, for example:
- remove an item in a row (with lets say 3 items) which would then have to reposition all the items below. Not sure about all the performance issues this might cause.

But I guess I will have to try to find out.
Thank you for your ideas.

[2021-08-22 17:06] shyndman commented on #64
If you wanted to share more details about your requirements, we might be able to help. What is it that you're building?

[2021-08-22 19:35] heyarny commented on #64
@shyndman well, it would be great to have at least something like RecyclerView (with GridLayout) with major features, like:

- Set a fixed column size (in my case I need 6)
- Rows are set either by widget size or fixed size
- Widgets can span several columns (in my case up to 6)
- Optimized for speed (reuse/discard widgets which are not visible)
- Built for "unlimited" lists (for unlimited scrolle

[2021-08-23 13:30] erickok commented on #64
Sounds like you are better off using https://github.com/letsar/flutter_staggered_grid_view and asking there why you can't use more than 4 columns.

You should know that Flutter widgets are immutable. You do not directly insert/remove items, but you just rebuild the widget tree. Animating them in is something the library itself would have to support, and for the type of grid you want this is non-tr

[2021-08-23 19:12] shyndman commented on #64
@heyarny, am I correct that you got `flutter_staggered_grid_view` working the way you need? I saw you closed that bug off.

While @erickok is right that something prebuilt is probably easiest, a `ListView` (more specifically, the [slivers](https://medium.com/flutter/slivers-demystified-6ff68ab0296f) framework) can meet all of your requirements.

[2021-08-23 19:25] heyarny commented on #64
@shyndman well, I'm still evaluating `flutter_staggered_grid_view` for my needs.
There are still open issues, like:
- scroll to specific index. (google seems to have an explicit list view for this feature: https://pub.dev/packages/scrollable_positioned_list - request origin is https://github.com/flutter/flutter/issues/12319)
- Insert or remove widgets with animation
- Get visible indexes/rows

As

[2021-08-24 16:26] shyndman commented on #64
That Google library looks like an excellent place to start. Getting visible row indices looks like it could be tacked on pretty easily.

It's kind of unfortunate, because `AnimatedList` in Flutter's core library seems to also provide part of what you need.

Seems like a bunch of things need to be mashed together. To be honest, I'm sort of curious to build it...but I have to think about it.

[2021-08-24 16:50] heyarny commented on #64
@shyndman that's exactly what I thought. A lot of tiny pieces everywhere instead of a single widget as a solution, as one is used to as native developer. I'm even in doubt that all those tiny pieces of puzzles would work together as a whole.

I'm still thinking about creating a custom "grid-layout-list-view" with all those features.

Will take a closer look at https://pub.dev/packages/scrollable_p

[2021-08-24 18:27] shyndman commented on #64
I've gone over the codebases, and I'm quite sure that it's possible. I believe there may even be opportunities to optimize certain things for the use case.

Can you talk any more about the application? On what basis do insertions and deletions take place?

[2021-08-24 20:11] heyarny commented on #64
What list-widget do you have in mind as a base?

Well, all those features are the base for an abstract app-client (dumb client basically) which I'm planing to feed by a data driven protocol to fill it with content. This content can become interactive when the app-client is connected to a SSE/WebSocket which sends messages like deletions or insertions. Many of deletions/insertions are going to be i

[2021-08-24 21:55] shyndman commented on #64
I think I'd fork `ScrollablePositionedList`.

You know, the more I think about this, the trickier it becomes. For instance, if you jumpTo a specific row without having scrolled past all of the rows that precede it, you have to assign each of those rows an estimated height (without having rendered it to know for sure), which then gets corrected after the fact.

Tricky, but fun.

I'm on Discord: `Sc

[2021-08-24 21:58] shyndman commented on #64
And having said this, `ScrollablePositionedList` is likely to already do something like this. So maybe a non-issue.

[2021-08-24 22:19] heyarny commented on #64
That's the point. You either need the 'context'(?) (sorry, still new to flutter) of that widget to be able to scroll to it or you require all the sizes (& positions) of the widgets in your list.
That's why I was thinking about creating a new list with a `Offstage` widget to pre-calculate all the widgets that are going to appear inside that list and place fake placeholders in the upper and lower pa

[2021-08-24 22:31] heyarny commented on #64
There is a discussion board https://github.com/madewithfelt/flutter_layout_grid/discussions/65 :)

[2021-09-15 11:57] CaptainDario opened #66 "Removing `color` from container breaks `columnSpan`"
Hello,
I really like this package and want to use it for my app.

However I am encountering strange behaviour.
When I place a `Container` in my LayoutGrid with the `color` attribute set everything works:
[code]
Output:
<img src="https://user-images.githubusercontent.com/51273483/133428614-0d0a2fb5-f701-4da4-89fa-74d66feeb1ef.png" width="200">

However if I remove the color attribute the container

[2021-09-15 12:05] CaptainDario opened #67 "Is it possible to center all elements of a LayoutGrid?"
Hi,
thanks for this great plugin I really like it for developing responsive UI's.
I am wondering if there is an option to center all elements of the grid (except for wrapping every widget in a `Center`).
Something like `MainAxisAlignment: MainAxisAlignment.center`

[2021-09-18 14:48] CaptainDario commented on #66
Seems like I was using an Expanded() wrong.
Interestingly that did not lead to an exception on Android/iOS but on Windows it did.

[2021-09-18 14:48] #66 closed

[2021-09-18 17:13] shyndman commented on #67
That's great to hear. Thank you. :)

No, there isn't. My goal is to keep this package tightly focused on a single purpose, and I think this particular problem can be solved in a number of ways by the user (like as you said, using the `Center` widget).

Sorry about that.

[2021-09-18 17:13] #67 closed

[2021-09-21 11:06] Tonku opened #68 "Can we resize this grid using mouse?"
Can we do something like this widget

https://pub.dev/packages/resizable_widget

[2021-09-21 15:24] shyndman commented on #68
Not directly, but you can build something like this using the package. In fact, I did exactly this for an application I wrote.

Are you looking for something out of the box, or would you like some advice on how to write it?

[2021-09-22 03:56] Tonku commented on #68
Thanks for the info @shyndman
I am building a drag and drop app, for that I need a resizable grid, if you have something out of the box , would you be interested in making it available via pub.dev ?

[2021-10-05 18:29] shyndman commented on #68
Hey @Tonku, sorry for the long wait on this.

I may have worded that poorly. I do **not** have something out of the box. The software I wrote wasn't general purpose, and was designed specifically for the application I was writing.

[2021-10-05 18:33] shyndman commented on #68
I'd be happy to offer advice if you wanted to write something on your own.

[2021-10-11 05:46] w568w opened #69 "What is the equivalent of childAspectRatio in LayoutGrid?"
Since `GridView` doesn't support some advanced features like varied spans, I take `flutter_layout_grid` as a perfect candidate of it.

But it seems necessary to pass a definite `rowSize`(i.e. defined with `.px`) to `LayoutGrid`, otherwise the height of the grid is always zero. What I expect is a parameter like `childAspectRatio` in `GridView` to set the h/w ratio of every child in the grid. I've t

[2021-10-15 18:14] shyndman commented on #69
Hey, sorry. Got caught up. Looking now.

[2021-10-16 02:09] w568w commented on #69
Thanks! I found that is the problem. Now It works fine.

[2021-10-16 02:09] #69 closed

[2022-01-26 13:16] #68 closed

[2022-03-05 10:51] shyndman opened #71 "Exceptions are thrown with ListView children"
This is something that should work.

[2022-03-05 11:03] shyndman opened #72 "Improve assertion message when areas and row/col size lengths don't match"
In its current state, it's impossible to decipher this failure without reading the code.

https://github.com/shyndman/flutter_layout_grid/blob/945517f761ff19ff54b437ff1f2bde0bd8f78f9a/lib/src/widgets/layout_grid.dart#L113-L118

[2022-03-05 11:17] #72 closed

[2022-03-21 07:35] Shahmirzali-Huseynov opened #75 "dynamic list itemcount and pagination"
Can I use this package for the dynamic grid list? I mean I don't know exactly the list length, which is coming from api.

my `crossAxisCount` is 2.  but I don't know item count will be 2, 3, 7, or 9.

I'm asking especially for `columnSizes` and `rowSizes` properties.

and can I do pagination?

I'm coming from here: https://codewithandrea.com/articles/flutter-layout-grid-content-sized-items/.

[2022-04-03 07:15] klondikedragon opened #76 "Improper intrinsic track sizing for multi-line Text"
This widget is extremely powerful and very handy, thank you!

Imagine you have a vertical `CustomScrollView` with a `SliverFillRemaining` sliver (`hasScrollBody`=`false`) that contains a container with a minimum height set to 300px that contains a `LayoutGrid` with a single column and 2 rows:
* A flex row that expands to whatever free space is remaining
* A row that contains a Text that is long en

[2022-04-05 03:15] klondikedragon commented on #76
Upon further experimentation, these changes do change the visual appearance of the Periodic Table example. I'll submit a PR for review shortly that adds flags to the widget that will allow activation of a "width-in-height-out" or "height-in-width-out" layout approach (both defaulting to false, to use the previous behavior).

[2022-04-07 17:10] shyndman commented on #76
Wow! Thanks for being so detailed. I'm just going to need a couple more days to give this the attention it deserves.

What is it that you're building, if you're willing to share?

[2022-04-12 01:29] klondikedragon commented on #76
Thanks @shyndman -- the changes in PR #77 have been working out nicely so far to fix the issue. Hopefully should be enough to fix the issue without introducing any new ones.

I've found this grid is really handy for building responsive layouts. When the viewport is smaller than a given width, I have it lay out three rows in one column:

![image](https://user-images.githubusercontent.com/88254524/1

[2022-04-13 20:05] shyndman commented on #76
Looks great! I use the grid for exactly the same purpose.

I went over the issue, and I agree with your fix. I left one nit on the PR — add the comment and I'll merge.

Now I'm wondering if this is a breaking change or not. What do you think?

[2022-04-13 23:57] klondikedragon commented on #76
It seems like it *could* be breaking, but IMO only in a good way. The behavior before wouldn't really be desirable if you were trying to use in conjunction with a widget that determined it's height dynamically based on a fixed width (like `Wrap` or `Text`). On the other hand, no one has complained before. So it could be safer to bump the major version in pub.dev package just in case?

[2022-04-14 00:53] #76 closed

[2022-04-14 00:54] shyndman commented on #76
Yeah, agreed. Safer. Give me a few and I'll get this published.

[2022-04-14 01:10] shyndman commented on #76
Published as v2.0.0.

Thanks for the help.

[2022-04-15 00:42] shyndman opened #80 "Auto-placement is not working correctly"
I supplied a bunch of children without placement, and they were not automatically assigned grid areas.

[2022-04-15 01:24] shyndman commented on #80
Nevermind, it's fine. The text was invisible. 😝

[2022-04-15 01:24] #80 closed

[2022-04-15 01:25] shyndman opened #81 "Add logging describing the auto-placement process including invalidation"
The process is a little opaque at the moment during development.

[2022-04-15 01:34] shyndman commented on #75
Hi @Shahmirzali-Huseynov,

How about something like this?

[code]

Sure! It shouldn't be too hard to implement in your app. Let me know if you need an example.

[2022-04-15 01:34] #75 closed

[2022-04-15 08:12] Shahmirzali-Huseynov commented on #75
@shyndman thank you for answering. Yes, sure. I want an example 😊👍

[2022-04-15 19:08] klondikedragon commented on #76
@shyndman - Perfect, thank you!

[2022-04-19 06:59] Shahmirzali-Huseynov commented on #75
@shyndman  ? can you give example ?

[2022-04-24 04:50] ominibyte opened #82 "Layout with uneven columns and centring for a row"
Hi, thanks for your work on this so far.

I am wondering if it is possible to achieve something like this using any of the placement strategies.

![image](https://user-images.githubusercontent.com/7020327/164957071-f1255328-816b-4673-ac67-bb73f1d2d072.png)

So far, I cannot seem to find documentation for that. I am interested in the top row being centred.

Thanks.

[2022-05-05 18:16] dsyrstad opened #83 "Row gaps in nested grid cause overflow on parent grid"
In this example: https://gist.github.com/dsyrstad/ecc79ed05f25a462476ea414812158f2 I have two nested grids which use `auto`-sized rows and row gaps. The inner grid overflows the outer grid's cell by the exact amount of the row gap:

![image](https://user-images.githubusercontent.com/1719665/166985970-9dbbaff8-54a8-48aa-ad8b-6bd3ec2fad03.png)

It overflows by exactly the `InnerGrid` `rowGap` (10) *

[2022-05-06 14:22] dsyrstad commented on #83
I think have I found a fix for this. This line does not consider the gaps in the min/max sizes: https://github.com/shyndman/flutter_layout_grid/blob/bcf4206a10c857d77ee0bbf31daa4cf4bff3f193/lib/src/rendering/layout_grid.dart#L524

Changing the line to:
[code]

seems to fix the issue. The tests pass, but I'm not sure if it is a solid fix. I can raise a PR if you'd like.

[2022-05-06 15:13] dsyrstad commented on #83
I just went ahead and opened PR #84

[2022-05-06 20:42] shyndman commented on #83
Wonderful! Thank you @dsyrstad

I'll get that merged right away.

[2022-05-06 20:49] #83 closed

[2022-05-06 20:54] shyndman commented on #83
Published as v2.0.1

[2022-05-06 20:55] shyndman commented on #82
Hey, sorry for the wait.

You could do this in a couple of ways. Are you still interested?

[2022-05-06 21:17] ominibyte commented on #82
Yes I am still interested. Thanks for getting back to me.

Any help would be appreciated 🙏🏾.

On Fri, 6 May 2022 at 16:55 Scott Hyndman ***@***.***> wrote:

[2022-05-06 21:18] shyndman commented on #82
OK, I'll give it a shot and see what I can come up with.

[2022-05-06 22:04] shyndman commented on #82
Nope, I couldn't get this going. It's impossible to keep the items together unless they have a flexible size (and I assume you want to keep aspect ratios intact?)

This is more easily accomplished with Rows and Columns. Something like this:

https://dartpad.dartlang.org/?id=808da6f52a1c3d8d550057d07dc12ec4

[2022-05-06 22:22] ominibyte commented on #82
Oh wow. Thanks for trying.

Yes I want to keep the aspect ratio. The number of cells is also dynamic. I
just found it difficult getting it to work for uneven cell numbers.

Thanks again for your help.

On Fri, 6 May 2022 at 18:04 Scott Hyndman ***@***.***> wrote:

[2022-05-06 22:51] shyndman commented on #82
I was walking the dog and had one more idea. Let me give it a shot.

[2022-05-06 23:08] shyndman commented on #82
Aha! I got something going.

I realized that if I constrained the entire grid with an AspectRatio, I could keep the videos independently constrained, and nothing would be drifting apart.

https://user-images.githubusercontent.com/42326/167226499-c476e0fe-085f-4889-99b9-9ee24cf84585.mov

Here's the code: https://gist.github.com/shyndman/5660d4e68e6d80f01fa48830bceb44bb

I'm closing this off, but po

[2022-05-06 23:08] #82 closed

[2022-05-07 19:10] ominibyte commented on #82
Thank you so much. 🙏🏾

I will adopt your solution.

On Fri, 6 May 2022 at 19:08 Scott Hyndman ***@***.***> wrote:

[2022-05-16 10:39] tlvenn opened #85 "Draggable gaps ?"
Hi,

I am wondering if the layout can / could support draggable gaps where one gap (a separation between 2 content panes) is draggable to adjust the size / ratio of those 2 panes.

Something like this:
![CleanShot 2022-05-16 at 18 36 27](https://user-images.githubusercontent.com/3340262/168575134-93d70f5d-3fe6-47fb-978b-80ae4233ac1e.gif)

At the same time, maybe this whole thing and a state manage

[2022-06-19 17:42] 0Franky opened #86 "How can I handle interaction with row?"
Hi shyndman,
thank you for your work and this plugin.

I want to ask you how I can handle the interaction with a row.
For example if you wanted to highlight the entire row when the mouse is over it or a click.

Thank you in advanced.

[2022-07-28 17:11] MeetChaudhari opened #87 "Layout Grid Not showing in windows build"
I just made an app for windows platform, it works fine in dev mode, with everything hot reload/restart , but when i build the app its not working, the layout grid is not showing

[2022-07-30 17:44] shyndman commented on #87
Hey @MeetChaudhari,

Any exceptions?

[2022-07-30 18:05] shyndman commented on #86
hey @0Franky,

Sorry, I totally missed this. Hope you still need it.

So the grid doesn't do that sort of thing for you, but it's really easy to add yourself.

The basic idea is that you're going to have to create your own Row widget class, and handle the kinds of interaction you're interested in.

Would an example be helpful?

[2022-08-06 08:32] thegrxp opened #88 "Do you plan to add the ability to specify row and column gaps at specific line locations via a delegate?"
Thank you for this amazing lib!

[2022-09-28 16:05] oravecz opened #90 "Overlap documentation?"
There is mention about support for overlap in the general README, however I have been through the docs, examples, and issues and cannot find mention of how this is accomplished. Can an example be attached to the docs or examples?

FWIW, I'm trying to create a layout something like this:
![image](https://user-images.githubusercontent.com/297712/192829578-d9b9f150-4e82-4092-afa5-2d32129d66c4.png)

[2022-09-28 16:30] shyndman commented on #90
Hm, you're right. I'll have to add something.

If you're looking to be unblocked, the rule is pretty easy: `children` are drawn in order (similarly to a [`Stack`](https://api.flutter.dev/flutter/widgets/Stack-class.html)).

In your case, orange nav would come after green header in the `children` list, and you'd use the [numeric row/column placement API](https://github.com/shyndman/flutter_layout_g

[2022-09-28 16:38] shyndman commented on #87
Closing this off for now. Feel free to reply if you'd like this reopened.

[2022-09-28 16:38] #87 closed

[2022-09-28 16:38] #86 closed

[2022-09-28 17:48] oravecz commented on #71
I believe I am running into this problem with ExpansionPanelList/ExpansionPanel also. Renders ok, but when I expand it crashes. This will be a blocker for me unless a workaround exists. Any thoughts?

[2022-09-28 19:03] shyndman commented on #71
Can you post a reproduction?

[2022-09-28 19:03] shyndman commented on #71
Oh, I see. This isn't a new bug.

Let me take a look.

[2022-09-28 19:17] shyndman commented on #71
I'm actually not able to reproduce this in a simple case. Mind providing some code so I can take a look? I'm reasonably sure we can get this running.

[2022-09-28 19:52] oravecz commented on #71
My example is too complicated (and closed source), but I can duplicate something like it with these steps.

### Start with your "basic" example

### Add code that I lifted from Flutter API docs (ExpansionPanelList API) to the bottom of the example

[code]

### Modify the first `GridPlacement`

[code]

I receive cascading render assertion failures.

### Flutter Doctor

[✓] Flutter (Channel beta, 3.

[2022-09-28 19:55] shyndman commented on #90
I put up a [simple example](https://github.com/shyndman/flutter_layout_grid/blob/fd45e3255cf215d5b7839d72934a14ed18fa2258/example/lib/overlapping_items.dart) to demonstrate.

[![Screenshot of overlapping items example](https://user-images.githubusercontent.com/42326/192875389-c17c9ec5-80b0-4090-9baa-bd60c68d1de2.png)

Thanks for pointing that out!

[2022-09-28 19:55] #90 closed

[2022-09-28 20:16] shyndman commented on #71
The problem appears to be this line:

https://gist.github.com/shyndman/208f25b1362901ca74b11ad4185c1fd1#file-basic_with_expansion-dart-L137

The list is saying "I need to be able to grow infinitely on the y-axis", and that container is saying "nope".

Removing the height constraint allows the container (and the expansion panel list) to inherit the viewport's constraints, which are infinite on y.

[2022-09-29 11:54] oravecz commented on #71
Sorry, I added the height when I was trying to debug. Your right it doesn't crash when removing height, but it doesn't render properly either. It is clipped within the bounds of the GridPlacement.

![image](https://user-images.githubusercontent.com/297712/193023237-3dcf01ef-117b-42f2-832a-0a75ca602e99.png)

Also, I'll see if I can reduce my example (of it throwing an error when I expand my Expansi

[2022-09-29 12:30] shyndman commented on #71
Thank you. That'd be great.

Right, so that clipping is intentional. If you supply a fixed size (32px here) it will render at exactly that height, and never measure the children. This performs considerably better when you can away with it.

When you want the children's sizes to be considered, use `auto`.

[2022-09-30 23:57] oravecz commented on #71
When I set the row to `auto`, it indeed initially renders as expected. But, I would also expect `auto` row to change its bounds as the children within shrink/grow. With the example I provided, the row initially lays out to encompass the ExpansionPanelList (with some additional space at the bottom of the row I haven't yet debugged).

(My fonts are messed up somehow in the screenshot)
![image](https

[2022-10-02 18:06] shyndman commented on #71
Offhand, I'm not sure. It _seems_ like something it should be able to handle, but I will have to look at the messages being passed up and down the tree.

I'll have a chance to take a look at this tomorrow.

[2022-10-02 18:07] shyndman commented on #71
I actually seem to recall that I'm asking children to be notified of size changes, so it could be that I'm missing a piece necessary to handle some cases? We'll see.

[2022-10-02 22:41] oravecz commented on #71
If you are using CustomMultiChildLayout behind the scenes, the delegate has a relayout listener that you can attach in its constructor. Not sure exactly _what_ you attach or how you listen for any widgets in the tree which can change their size, or more specifically, whether your children change their size.
On Oct 2, 2022, 2:08 PM -0400, Scott Hyndman ***@***.***>, wrote:

[2022-10-03 17:18] shyndman commented on #71
I've verified that I'm listening for size changes, and that I'm receiving them.

https://github.com/shyndman/flutter_layout_grid/blob/fd45e3255cf215d5b7839d72934a14ed18fa2258/lib/src/rendering/track_size.dart#L110-L128

These `RenderBox.get*Intrinsic{Width,Height}` methods are called during the sizing of `auto` tracks. Calling them indicates to the children that the parent uses their sizing to lay

[2022-10-03 17:18] shyndman commented on #71
I suspect that what you're running into is like the left-hand side here:

![image](https://user-images.githubusercontent.com/42326/193639066-086b8020-0f4b-4ea3-be77-acb506fad295.png)

[2022-11-10 08:40] BadPistol97 commented on #71
I need help with this.

![image](https://user-images.githubusercontent.com/42179618/201041450-89b18af8-418e-4b41-81f0-85a2485c7a09.png)

`
@override
  Widget build(BuildContext context, WidgetRef ref){

    final List<TrackSize> rowSize = repeat(content.length,[auto]);

    return  LayoutGrid(
      columnSizes: repeat(count,[auto]),
      rowSizes: rowSize.isEmpty ? [auto] : rowSize,
      column

[2022-11-10 22:14] shyndman commented on #71
Hi there,

Would you mind uploading a higher quality screenshot? And ideally a bit more code?

[2022-11-12 08:10] BadPistol97 commented on #71
What I wanted to achieve is having multiple expansion tile in the grid layout.

![image](https://user-images.githubusercontent.com/42179618/201464969-2f5ebc7e-8b0c-4b9a-8825-d1bf5e2d5758.png)

there were overflows because I had a list view in the children of the expansion tile without specifying its height (I guess that's the issue).

I swapped it out with a container now it is scaling with the co

[2022-11-12 15:13] shyndman commented on #71
👍

[2022-11-12 15:13] #71 closed